@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #111111;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

html, body {
	height: 100%;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
	  Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Arial, "Apple Color Emoji",
	  "Segoe UI Emoji";
}
